<p id="notice"><%= notice %></p>

<p>
  <strong>Creator:</strong>
  <%= @event.creator.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>Participants</p>

<% if @event.attendees.empty? %>
<div >
  <li >This event has no attendees yet</li>
</div>
<% else %>
  <div>
    <% @event.attendees.each do |attendee| %>
    <li> <%= attendee.name %> </li>
    <% end %>
  </div>
<% end %>

  
    <% if current_user == @event.creator %>
      <%= link_to 'Edit', edit_event_path, class: "btn" %>
      <%= link_to 'Delete', event_path, method: :delete, class: "btn",
                            data: { confirm: "Delete this event?"} %>
    <% elsif @event.attendees.include?(current_user) %>
      <%= link_to 'Cancel', cancel_attend_event_path, class: "btn" %>
    <% else %>
      <%= link_to 'Attend', attend_event_path, class: "btn" unless @event.date < Time.now %>
    <% end %>
  </div>
</div>




